.footer {
    text-align: center;
    padding: 50px 0;
    // .footer__content

    &__content {
    }

    // .footer__social

    &__social {
        margin-bottom: 25px;
    }

    // .footer__copy

    &__copy {

    }
}


